:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}
input, button{
    outline: none;
    border: none;
    background-color: transparent;
}
.header{
    padding:2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.header_title{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: var(--gray);
}
#new_task_form{
    display: flex;
}
#new_task_input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right:1rem;
    color: var(--light);
    font-size: 1.25rem;
}
#new_task_input::placeholder{
    color: var(--gray);
}
#new_task_submit{
    color:var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
    transition: 0.4s;
}
#new_task_submit:hover{
    opacity: 0.8;
}
#new_task_submit:active{
    opacity: 0.6;
}
.main{
    flex: 1 1 0%;
    padding:2rem 1rem;
    margin:0 auto;
    max-width: 800px;
    width: 100%;
}
.task_list{
    padding: 1rem;
}
.task_list_title{
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
.task{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.content{
    flex: 1 1 0%;
}
.text{
    color:var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
.text:not(:read-only){
    color: var(--pink);
}
.actions{
    display: flex;
    margin: 0 0.5rem;
}
.btn{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.btn:hover{
    opacity: 0.8;
}
.btn:active{
    opacity: 0.6;
}
.edit{
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.delete{
    color: crimson;
}